<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {# <link rel="stylesheet" href="/global.css"> #}
        <title>Document</title>
        {% include "global.njk" %}
        {% include "layout.njk" %}
    </head>
    <body>
        <f-nav state="close"></f-nav>
        <main router:page="{{ page.fileSlug }}">{{content | safe}}</main>
        {% include "components/Nav.njk" %}
        <script src="/js/router.js" type="module"></script>
    </body>
</html>